# This script mounts /tmp onto /mnt/tmp, which on Ubuntu for Amazon
# EC2 is mounted on ephemeral, instance-local storage. As the storage
# is ephemeral, the /mnt/tmp directory must be recreated on each boot
# and configured with the appropriate permissions.
[Unit]
RequiresMountsFor=/mnt

[Service]
Type=oneshot

ExecStart=/bin/sh -ec 'test -d /mnt/tmp || mkdir -m 1777 /mnt/tmp; mount --bind /mnt/tmp /tmp'
